@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.woff),
         url(../fonts/Roboto-Light.woff2),
         url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.woff),
         url(../fonts/Roboto-Regular.woff2),
         url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.woff),
         url(../fonts/Roboto-Medium.woff2),
         url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.woff),
         url(../fonts/Roboto-Bold.woff2),
         url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Black.woff),
         url(../fonts/Roboto-Black.woff2),
         url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
