.reward-list {
    position: absolute;
    top: 50%;
    right: 10.981vw;
    transform: translateY(-50%);

    @include responsive(mobile) {
        top: auto;
        bottom: -110.677vw;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    &__inner {
        width: 26.354vw;
        height: auto;
        padding: 1.903vw;
        background-color: #fff;
        border-radius: 1.903vw;

        @include responsive(mobile) {
            width: 84.635vw;
            border-radius: 3.385vw;
            padding: 3.385vw;
        }
    }
    
    &__title {
        font-weight: 700;
        font-size: 1.903vw;
        line-height: 1.406vw;
        color: #000000;

        @include responsive(mobile) {
            font-size: 4.688vw;
            line-height: 1.2;
        }
    }


    &__item {
        margin-top: 1.464vw;
        font-size: 1.464vw;

        @include responsive(mobile) {
            font-size: 3.385vw;
            margin-top: 3.385vw;
        }
    }
}

.hide {
    display: none;
}